.input {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: 1px solid var(--neutral-700);
  backdrop-filter: blur(3px);
  padding: 1rem;
}

input {
  color: var(--neutral-0);
  font-family: var(--inconsolate);
  font-size: 1rem;
}

input::placeholder {
  color: var(--neutral-500);
}
